// Here you can add other styles
.p-error{
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #e55353;
}

.cursor-pointer{
    cursor: pointer;
}

.font-size-11{
    font-size: 11px !important;
}

.text-right{
    text-align: right !important;
}

.z-index-50{
    z-index: 50 !important;
}

.text-left{
    text-align: left !important;
}
